div {
    border: 4px solid rgba(80, 95, 225, 0.8);
    text-align: justify;
    width: 1200px;
    height: 400px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
aside {
    float: left;
    width: 400px;
    height: 300px;
}
img {
    width:400px;
    height: 300px;
    float: left;
    padding: 40px;
}
section {
    /* background-color: crimson; */
    width: 500px;
    height: 300px;
    float: right;
    margin: 30px;
    padding: 10px 100px 20px 0px;
}
h2 {
    text-align: center;
}